---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
<!-- <a href="https://clustrmaps.com/site/1bngh" title="Visit tracker"><img src="//clustrmaps.com/map_v2.png?cl=ffffff&w=a&t=n&d=u-qLXTUziqDEGtyPmMvhNi_1AGHEjwhH6QNZzHDkDLw" /></a>
<br>
<a href="https://www.easycounter.com/">
<img src="https://www.easycounter.com/counter.php?sijiage007"
border="0" alt="Web Site Hit Counters"></a> -->
  </body>
</html>
